# Copyright (c) 2024, TecInvent Electronics Ltd
# SPDX-License-Identifier: Apache-2.0

config MCU_UTILS_TIME
	bool "Support for mcu utils time library"
	help
	  This option enables the 'mcu utils time' library
