# Copyright (c) 2025, TecInvent Electronics Ltd
# SPDX-License-Identifier: Apache-2.0

config MCU_UTILS_STORAGE
	bool "Support for mcu utils storage library"
	help
	  This option enables the 'mcu utils storage' library
