# Copyright (c) 2025, TecInvent Electronics Ltd
# SPDX-License-Identifier: Apache-2.0

config MCU_UTILS_ADC
	bool "Support for mcu utils adc library"
	help
	  This option enables the 'mcu utils adc' library
