# Copyright (c) 2026, TecInvent Electronics Ltd

config MCU_UTILS_BUS
	bool "Support for mcu utils bus library"
	help
	  This option enables the 'mcu utils bus' library
	select ZBUS
	select ZBUS_RUNTIME_OBSERVERS
	select ZBUS_MSG_SUBSCRIBER

